#interface wlink
adapter driver wlinke
adapter speed 2400
adapter srst delay 100
adapter srst pulse_width 50
transport select sdi

wlink_set_address 0x00000000
set _CHIPNAME wch_riscv
sdi newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x00001

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME.1 wch_riscv -chain-position $_TARGETNAME -coreid 1
$_TARGETNAME.1 configure -event reset-init {
    echo "Core 1 reset initialized."
}
$_TARGETNAME.1 configure -gdb-port 3334

$_TARGETNAME.1 configure  -work-area-phys 0x20102800 -work-area-size 10000 -work-area-backup 1
set _FLASHNAME $_CHIPNAME.flash1

flash bank $_FLASHNAME wch_riscv 0x00010000 0 0 0 $_TARGETNAME.1

echo "Ready for Remote Connections"
